/*---
title:   Buttons
section: Elements
---

Button styles can be applied to any element. Typically you'll want to use
 an `<button>` element:

```example:html
<div style="padding-left: 20px;  background-color: darkgray;">
  <button class="btn btn--form">Click</button>
</div>
```
```example:html
<div style="padding-left: 20px;  background-color: darkgray;">
  <button class="btn btn--inverted">Click</button>
</div>
```
*/

.btn {
  cursor: pointer;
  color: $snow;
  background: $helsana;
  border: none;
  line-height: 2rem;
  border-radius: 3px;
  margin: 7px 0 7px 0;

  &--inverted {
    background: $snow;
    color: $helsana;
  }

  &--form {
    &:hover {
      background: $snow;
      color: $helsana;
    }
  }
}
