/*---
title:   Icons
section: Elements
---

Button styles can be applied to any element. Typically you'll want to use
to a `<label>`:

```example:html
<label class="icon icon--boy"></button>
```
```example:html
<label class="icon icon--girl"></button>
```
```example:html
<label class="icon icon--woman"></button>
```
```example:html
<label class="icon icon--man"></button>
```
```example:html
<label class="icon icon--cross"></button>
```
*/

.icon {
  font-family: 'icomoon';
  cursor: pointer;
}

.icon--boy:before {
  content: "\e904";
}

.icon--girl:before {
  content: "\e901";
}

.icon--man:before {
  content: "\e904";
}

.icon--woman:before {
  content: "\e903";
}

.icon--cross {
  margin-bottom: -15px;
  font-size: 1.5rem;
  margin-right: -25px;
  margin-top: 5px;
  text-align: end;

  &:before {
    content: "\e905";
  }
}