.price {
  color: $dunkelgrau3;

  &__container {
    display: flex;
  }

  &__text {
    padding-right: 1rem;
    text-align: right;
    display: inline-table;
    padding-top: 5px;
    color: $snow-dark;
  }

  &__value {
    font-size: 2.5rem;
  }
}