/*---
title:   Form
section: Layout
---

Link styles can be applied to a `<fieldset>` element:

```example:html
<fieldset class="fieldset" style="padding: 20px;  background-color: darkgray;>
    <h2>Title</h2>
    <span>some text</span>
</fieldset>
```
*/

.fieldset {
  border: none;
  padding: 0 0 0 0;
  margin: 0;
}