<form id="input-asset" class="form" #calcPremiums="ngForm">
    <h2 e2e-id="title">Prämienrechner</h2>
    <fieldset class="fieldset">
        <div>
            <span>
                <input class="input" name="dateOfBirth" type="text" placeholder="Geburtsdatum" required>
            </span>
        </div>
        <div>
            <span class="line-height-3">Geschlecht:</span>
            <aside class="input input--gender">

                <input id="gender-female" class="input__radio" type="radio" name="gender" value='female'>
                <label class="input--gender__label input--left icon icon-female"
                       title='male' for="gender-female"></label>
                <input id="gender-male" class="input__radio" type="radio" name="gender" value='male'>
                <label class="input--gender__label input--right icon icon-male"
                       title='female' for="gender-male"></label>
            </aside>

        </div>
        <input class="input" name="zip" type="text" maxlength="444" placeholder="PLZ (Wohnort)"
               required>
        <div>
            <span>
                <input name="plz" type="hidden">
            </span>
        </div>
        <input id="save-personals" class="btn btn--form btn--clear-left" value='Starten' type="submit">
    </fieldset>
</form>

<div class="price price__container">
    <span class="price__text">
        Prämie<br> CHF / Monat
    </span>
    <div class="price__container">
        <span class="price__value">
            299.
        </span>
        <span>90</span>
    </div>
</div>