<form data-input-form="input-asset" class="form" #calcPremiums="ngForm">
    <h2 e2e-id="title">Prämienrechner</h2>
    <fieldset class="fieldset">
        <div>
            <span>
                <input class="input" name="dateOfBirth" type="text" placeholder="Geburtsdatum" required>
            </span>
        </div>
        <div>
            <span class="line-height-3">Geschlecht:</span>
            <aside class="input input--gender">

                <input data-input-gender="input-asset" id="gender-female" class="input__radio" type="radio"
                       name="gender" value='w'>
                <label class="input--gender__label input--left icon icon-female"
                       title='male' for="gender-female"></label>
                <input data-input-gender="input-asset" id="gender-male" class="input__radio" type="radio" name="gender"
                       value='m'>
                <label class="input--gender__label input--right icon icon-male"
                       title='female' for="gender-male"></label>
            </aside>

        </div>
        <input data-input-zip="input-asset" class="input" name="zip" type="text" maxlength="444"
               placeholder="PLZ (Wohnort)"
               required>
        <div>
            <span>
                <input name="plz" type="hidden">
            </span>
        </div>
        <input data-input-save="input-asset" class="btn btn--form btn--clear-left" value='Starten' type="submit">
    </fieldset>
</form>

