/*---
title:   Variables
section: Utils
---
The following Colors are available:
```example:color
@color: #9A0941 @name: $helsana
@color: #AE0A4A @name: $helsana-light
@color: #AA436B @name: $helsana-pastel
@color: #fff @name: $snow
@color: #bbb @name: $snow-dark
@color: #333 @name: $dunkelkgrau3
```
*/

$helsana: #9A0941;
$helsana-light: #AE0A4A;
$helsana-pastel: #AA436B;
$snow: #fff;
$snow-dark: #bbb;
$dunkelgrau3: #333;

$form-width: 240px